* {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    background: #d0c9d4;
    margin: 24px 8px;
}

.my-name {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-name h1 {
    font-weight: 500;
    font-family: 'Allison', cursive;
    font-size: 100px;
    padding: 70px 0;
    color: #2d2d2d;
    letter-spacing: -3px;
}

.container-info {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.container-info .title {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Italiana';
    color: #2d2d2d;
    text-transform: uppercase;
    margin-right: 3px;
}

.container-info .info,
.cats p {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    flex-direction: column;
    text-transform: lowercase;
    font-family: 'Italiana';
    font-weight: 600;
    color: #666;
    letter-spacing: 0.9px;
    font-size: 18px;
    line-height: 31px;
}

.container-info .info .midias-sociais ul {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 15px;
}

.container-info .info .midias-sociais a {
    background: #9B9B9B;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.container-info .info .midias-sociais a:hover {
    background: #2d2d2d
}

@media (max-width: 660px) {
    .container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-info .title,
    .info,
    .cats p {
        justify-content: center
    }
}

.cats {
    display: flex;
}

.cats {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cats img {
    margin: 15px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    max-width: 40%;
}

@media (max-width: 1028px) {
    .cats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.autoria-design {
    text-align: justify;
    max-width: 80vh;
    margin-bottom: 50px
}